-- CreateTable
CREATE TABLE "cuisines" (
    "id" BIGINT NOT NULL,
    "cuisine_name" TEXT,

    CONSTRAINT "cuisines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_types" (
    "id" BIGINT NOT NULL,
    "meal_type" TEXT,

    CONSTRAINT "meal_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "restaurant_cuisines" (
    "restaurant_id" BIGINT NOT NULL,
    "cuisine_id" BIGINT NOT NULL,

    CONSTRAINT "restaurant_cuisines_pkey" PRIMARY KEY ("restaurant_id","cuisine_id")
);

-- CreateTable
CREATE TABLE "restaurant_meal_types" (
    "restaurant_id" BIGINT NOT NULL,
    "meal_type_id" BIGINT NOT NULL,

    CONSTRAINT "restaurant_meal_types_pkey" PRIMARY KEY ("restaurant_id","meal_type_id")
);

-- CreateTable
CREATE TABLE "restaurants" (
    "id" BIGINT NOT NULL,
    "restaurant_name" TEXT,
    "url" TEXT,
    "city" TEXT,
    "area" TEXT,
    "cost_for_two" INTEGER,
    "rating" DECIMAL(2,1),
    "page" INTEGER,
    "offer" TEXT,
    "percentage" TEXT,
    "effective_discount" DOUBLE PRECISION,
    "free" BOOLEAN,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "geo" geography,
    "geo_status" TEXT DEFAULT 'PENDING',

    CONSTRAINT "restaurants_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_rc_cuisine_id" ON "restaurant_cuisines"("cuisine_id");

-- CreateIndex
CREATE INDEX "idx_rmt_meal_type_id" ON "restaurant_meal_types"("meal_type_id");

-- AddForeignKey
ALTER TABLE "restaurant_cuisines" ADD CONSTRAINT "restaurant_cuisines_cuisine_id_fkey" FOREIGN KEY ("cuisine_id") REFERENCES "cuisines"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "restaurant_cuisines" ADD CONSTRAINT "restaurant_cuisines_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "restaurants"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "restaurant_meal_types" ADD CONSTRAINT "restaurant_meal_types_meal_type_id_fkey" FOREIGN KEY ("meal_type_id") REFERENCES "meal_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "restaurant_meal_types" ADD CONSTRAINT "restaurant_meal_types_restaurant_id_fkey" FOREIGN KEY ("restaurant_id") REFERENCES "restaurants"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

